* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

#navbar {
    /* border: 1px solid red; */
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    font-size: 20px;
    background-color: darkturquoise;

}

#navbar>div>a {
    text-decoration: none;
    color: black;
}

#searchBtn {
    margin-right: 20px;
    width: 100px;

}

input {
    width: 300px;
    height: 20px;
}

#navbar>div:hover {
    text-decoration: underline;
}